# Ignore virtual environment
.venv/
env/

# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.so

# VSCode settings
.vscode/

# macOS or Windows system files
.DS_Store
Thumbs.db

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# Logs
*.log

